<%= search_form_for(@q, url: search_path) do |f| %>
  <p>
    <%= f.label :subjects_id_in, '履修科目' %>
    <%= f.collection_check_boxes :subjects_id_in, @subjects, :id, :name %>
  </p>
  <%= f.submit %>
<% end %>
