<%= search_form_for(@q, url: search_path) do |f| %>
  <p>
    <%= f.label :department_id_eq, '学部' %>
    <%= f.collection_select :department_id_eq, @departments, :id, :name, :include_blank => '指定なし' %>
  </p>
  <%= f.submit %>
<% end %>
